dconf/
discord/
pulse/
spotify/
btop/btop.log
libreoffice/
GIMP/
obs-studio/
vlc/

kdeglobals
baloofileinformationrc
kdenlive-layoutsrc
kdenliverc
kde.org/
dolphinrc

gtk-2.0/
QtProject.conf
session/
Vampire_Survivors*/
trashrc
unity3d/

tmux/plugins/
