* {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#window {
    padding: 0 33px;
    color: #a6adc8;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 2px 0 2px;
    background-color: transparent;
    color: #6e6a86;
    transition-property: color;
    transition-duration: 0.35s;
}

#workspaces button.active {
    color: #f6c177;
}

#workspaces,
#clock,
#battery,
#network,
#pulseaudio {
    padding: 0 14px;
    margin-right: 8px;
    border-radius: 20px;
    background-color: #232136;
}

#battery {
    color: #ea9a97;
}

#pulseaudio {
    color: #3e8fb0;
}

#clock { 
    color: #c4a7e7;
}

#network {
    color: #eb6f92;
}
