* {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#window {
    padding: 0 33px;
    color: #a6adc8;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 2px 0 2px;
    background-color: transparent;
    color: #6e6a86;
    transition-property: color;
    transition-duration: 0.35s;
}

#workspaces button.active {
    color: #f6c177;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#window,
#workspaces,
#clock,
#battery,
#pulseaudio {
    padding: 0 15px;
    margin-right: 8px;
    border-radius: 10px;
    border: 2px solid #c4a7e7;
    background-color: #232136;
}


#clock.date {
    color: #eb6f92;
    margin-right: 8px;
}

#battery {
    color: #ea9a97;
    margin-right: 8px;
}

#pulseaudio {
    color: #9ccfd8;
    margin-right: 8px;
}

#clock { 
    color: #3e8fb0;
    margin-right: 0;
}
